
/* Weather display */
.weather-main {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 24px;
}

.weather-icon {
  position: absolute;
  top: 25%; 
  left: 52%;
  max-width: 300px; 
  transform: translateY(-50%);
}


.location {
  font-weight: bold;
}
.weather-specifics {
  display: flex;
  align-items: end;
  flex-grow: 2;
  justify-content: space-between;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .weather-specifics {
    position: relative;
    align-items: flex-end;
    flex-direction: column-reverse;
    justify-content: end;
  }
  .weather-icon {
    position: absolute;
    width: 52%;
    top: 25%; 
    left: 45%;
    transform: translateY(-50%);
  }
}